
.headbar{
    height: 50px;

}

.flex-container{
    
    display: flex;
    height: 100%;
    margin: 0 auto;


}

#logo{
    height: 50%;
}
#logo>img{
    height: 100%;
}


/* .cards{
    position: relative;
    margin-top: 5%;

}

.imgb{

    position: absolute;
    left:0%
    z-index: 0;
    
} */

.card{
    margin: 0 auto;


}

.w-30>img{
    object-fit: cover;
    max-width: 100%;
}


.like{
    background-color: aliceblue;

    padding: 16px;
    position: absolute;
    top: 10%;
    right: 0px;


}