
.headbar{
    height: 50px;

}

.flex-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

#logo{
    height: 50%;
}
#logo>img{
    height: 100%;
}